h1{
    color: rgb(128, 115, 0);
    text-align: center;
    
}
.header p{
    font-size: 30px;
    margin-left: 30px;
    
}
   
h2{
    color: green;
    text-align: center;

}
 
img{
    height: 30%;
    width: 40%;
}